/*------color------*/

/*base*/
$black: #000000;
$white: #ffffff;
$dark-red: #650300;
$dark-orange: #B75929;
$brown:#5F3E2D;
$gary-01:#F2F2F2;
$gary-02:#DEE2E6;
$gary-03:#DCDCDC;
$gary-04:#CED4DA;
$gary-05:#555555;
$gary-06:#495057;

/*primany-color*/
$primany-red : #AA0601;
$primany-black : $black;
$primany-pink: #FBF2F2;

/*prat-color*/
$h2-title-dark: $dark-red;
$h2-title-light: $white;
$product-optical-color-1:$brown;
$product-optical-color-2:$dark-orange;
$page-select: $gary-05;
$store-text-dark:#212529;
$blog-text-color: $gary-05;

/*block-color*/
$header-color: $primany-red;
$blog-nav-color: $dark-red;

/*link & select -color*/
$link-color: $white;
$select-color: $gary-06;
$select-border-color: $gary-04;
$link-border-color: $white;
$link-hover: 0.8;
$link-active: 1;
$link-line: underline;


/*------color------*/

/*------font-size------*/
$font-size-baseLine: 4px;
$font-size-2: $font-size-baseLine*2;
$font-size-3: $font-size-baseLine*3;
$font-size-3-p: $font-size-baseLine*3.5;
$font-size-4: $font-size-baseLine*4;
$font-size-4-p: $font-size-baseLine*4.5;
$font-size-5: $font-size-baseLine*5;
$font-size-6: $font-size-baseLine*6;
$font-size-7: $font-size-baseLine*7;
$font-size-7-p: $font-size-baseLine*7.5;
$font-size-8: $font-size-baseLine*8;
$font-size-9: $font-size-baseLine*9;
$font-size-10: $font-size-baseLine*10;
$font-size-10-p: $font-size-baseLine*10.5;
$font-size-11: $font-size-baseLine*11;
$font-size-12: $font-size-baseLine*12;
$font-size-13: $font-size-baseLine*13;
$font-size-14: $font-size-baseLine*14;
$font-size-15: $font-size-baseLine*15;
$font-size-16: $font-size-baseLine*16;
$font-size-17: $font-size-baseLine*17;
$font-size-18: $font-size-baseLine*18;
$font-size-19: $font-size-baseLine*19;
$font-size-20: $font-size-baseLine*20;
/*------font-size------*/

/*------padding------*/
$padding-baseLine: 4px;
$padding-1-p: $padding-baseLine*1.5;
$padding-2: $padding-baseLine*2;
$padding-3: $padding-baseLine*3;
$padding-3-p: $padding-baseLine*3.5;
$padding-4: $padding-baseLine*4;
$padding-5: $padding-baseLine*5;
$padding-6: $padding-baseLine*6;
$padding-6-p: $padding-baseLine*6.5;
$padding-7: $padding-baseLine*7;
$padding-8: $padding-baseLine*8;
$padding-9: $padding-baseLine*9;
$padding-10: $padding-baseLine*10;
$padding-11: $padding-baseLine*11;
$padding-12: $padding-baseLine*12;
$padding-13: $padding-baseLine*13;
$padding-14: $padding-baseLine*14;
$padding-15: $padding-baseLine*15;
$padding-16: $padding-baseLine*16;
$padding-17: $padding-baseLine*17;
$padding-18: $padding-baseLine*18;
$padding-19: $padding-baseLine*19;
$padding-20: $padding-baseLine*20;
$padding-21: $padding-baseLine*21;
$padding-22: $padding-baseLine*22;
$padding-23: $padding-baseLine*23;
$padding-24: $padding-baseLine*24;
/*------padding------*/

/*------margin------*/
$margin-baseLine: 4px;
$margin-2: $margin-baseLine*2;
$margin-3: $margin-baseLine*3;
$margin-4: $margin-baseLine*4;
$margin-5: $margin-baseLine*5;
$margin-6: $margin-baseLine*6;
$margin-7: $margin-baseLine*7;
$margin-8: $margin-baseLine*8;
$margin-9: $margin-baseLine*9;
$margin-10: $margin-baseLine*10;
$margin-11: $margin-baseLine*11;
$margin-12: $margin-baseLine*12;
$margin-13: $margin-baseLine*13;
$margin-14: $margin-baseLine*14;
$margin-15: $margin-baseLine*15;
$margin-16: $margin-baseLine*16;
$margin-17: $margin-baseLine*17;
$margin-18: $margin-baseLine*18;
$margin-19: $margin-baseLine*19;
$margin-20: $margin-baseLine*20;
/*------margin------*/

