.footer {
    background-color: $primany-red;
    color: $link-color;
    padding: $padding-12 0 $padding-8;

    a {
        color: $link-color;

        &:hover {
            opacity: $link-hover;
        }

        &:active {
            opacity: $link-active;
            text-decoration: $link-line;
        }
    }

    .subnav {
        margin-bottom: 33px;
    }

    .community li {
        width: 48px;
        height: 48px;

        &:not(:last-child) {
            margin-right: $margin-8;
        }
    }

    .subnav ul:nth-child(1) {
        font-size: $font-size-4;
        align-items: center;

        li:not(:last-child) {
            margin-right: $margin-12;
        }
    }

    .connect {
        font-size: $font-size-9;
        border-bottom: 1px solid $white;
        padding-bottom: $padding-8;
        margin-bottom: $margin-8;

        li:not(:last-child) {
            line-height: 1;
            margin-bottom: $margin-2;
        }

        span {
            margin-right: $margin-4;
            font-size: $font-size-9;
            vertical-align: middle;
            line-height: 1.5;
        }
    }

    .mobile-community {
        display: none;
    }

    .copyright {
        ul {
            a {
                display: block;
                font-size: $font-size-3-p;
                line-height: 1.5;
            }

            li:not(:last-child) {
                margin-right: $margin-12;
            }
        }
    }
}



@media(max-width:710px) {
    .footer {
        padding: $padding-6 0px;

        .subnav {
            display: none;
        }

        .mobile-connect {
            border-bottom: 1px solid $white;
            padding-bottom: $padding-6;
            margin-bottom: $margin-4;

            .connect {
                font-size: $font-size-4;
                border: none;
                padding: 0;
                margin: 0;

                span {
                    margin-right: $margin-2;
                    font-size: $font-size-4;
                }
            }

            .mobile-community {
                display: flex;

                li {
                    width: 24px;
                    height: 24px;

                    &:not(:last-child) {
                        margin-right: $margin-2;
                    }
                }
            }
        }

        .copyright,
        .copyright ul,
        .copyright li,
        .copyright p {
            display: block;
            margin-bottom: $margin-2;
        }
    }
}

@media(max-width:295px) {
    .mobile-connect {
        display: block;
    }

    .mobile-community {
        margin-top: $margin-3;
    }
}
