.header {
    background-color: $header-color;

    .container {
        padding: $padding-3-p 12px;
        align-items: center;
    }

    h2 a {
        display: block;
        background: url(../image/logo-white.png) no-repeat;
        background-size: contain;
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
        width: 80px;
        height: 49px;
    }

    ul {
        a {
            color: $link-color;
            font-size: $font-size-5;
            display: block;
            padding: $padding-4 0px;

            &:hover {
                opacity: $link-hover;
            }

            &:active {
                opacity: $link-active;
                text-decoration: underline;
            }
        }

        li {
            line-height: 1;

            &:not(:last-child) {
                margin-right: $margin-14;
            }
        }
    }

    .nav-mobile-menu {
        display: none;
    }
}

.nav-mobile {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: $primany-red;
    text-align: center;
    transform: translateX(240px);
    transition: all 0.9s;


    li {
        border-bottom: 2px solid $link-border-color;
    }

    a {
        display: block;
        font-size: $font-size-5;
        color: $link-color;
        padding: $padding-5 $padding-20;

        &:hover {
            opacity: $link-hover;
        }

        &:active {
            opacity: $link-active;
        }
    }
}

@media (max-width:768px) {
    .header {
        padding: 0px 24px;
    }
}

@media (max-width:640px) {
    .header {
        padding: 0px 4px;

        ul {
            display: none;
        }

        .nav-mobile-menu {
            display: block;
        }

        .nav-mobile-menu span {
            display: block;
            font-size: $font-size-9;
            color: $link-color;

            &:hover {
                opacity: $link-hover;
            }

            &:active {
                opacity: $link-active;
            }
        }
    }

    .open .nav-mobile {
        transform: translateX(0px);
    }

    .open .assembly {
        transform: translateX(-240px);
    }
}